@import "variables";
@import "theme-light";

@font-face {
  font-family: Roobert;
  src: url("../../public/font/roobert/RoobertTRIAL-Medium.otf");
  font-weight: 400;
}

@font-face {
  font-family: Roobert;
  src: url("../../public/font/roobert/RoobertTRIAL-Bold.otf");
  font-weight: 700;
}

@font-face {
  font-family: Roobert;
  src: url("../../public/font/roobert/RoobertTRIAL-SemiBold.otf");
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

::selection {
  background-color: #772ce8;
  background-color: @color-background-accent;
  color: #fff;
  color: @color-text-overlay;
}

body {
  background-color: #f7f7f8;
  font-display: optional;
  font-family: Inter, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-family: @font-base;
  overflow: hidden;
}

.root,
body,
html {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
b {
  font-family: inherit;
}

.button-icon {
  -ms-user-select: none;
  -webkit-user-select: none;
  align-items: center;
  background-color: transparent;
  background-color: @color-background-button-text-default;
  border-radius: 0.4rem;
  border-radius: @border-radius-medium;
  color: #efeff1;
  color: @color-fill-button-icon;
  display: inline-flex;
  height: 3rem;
  height: @button-size-default;
  justify-content: center;
  user-select: none;
  width: 3rem;
  width: @button-size-default;
}

.button-icon:not(:disabled):hover {
  background-color: hsla(0, 0%, 100%, 0.2);
  background-color: @color-background-button-text-hover;
  color: #efeff1;
  color: @color-fill-button-icon-hover;
}

button{
  outline: 0;
}
